* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(10 22 31);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.spinner {
	width: 95%;
	margin: 0 auto;
	color: #ffffff;
	display: flex;
	justify-content: center;
}
.empty-page {
	color: #ffffff;
}
.list {
  width: 95%;
  margin: 0 auto;
  &__item {
    padding: 10px;
    border-width: 5px 5px 5px 5px;
    border-style: solid dashed solid dashed;
    border-color: #9c27b0 #f3e5f5 #9c27b0 #f3e5f5;
    color: #ffffff;
    &-content {
      display: flex;
    }
    &-content + &-footer {
      margin-top: 15px;
    }
    &-img {
      max-width: 250px;
      min-width: 250px;
      img {
        width: 100%;
      }
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      span {
				padding: 5px;
        border: 5px solid transparent;
      }
      .active {
        border: 5px solid #9c27b0;
      }
    }
  }
  &__item + &__item {
    margin-top: 30px;
  }
}
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  .form__btn {
    background-color: #929190;
    text-shadow: none;
    padding: 10px 15px;
    &:hover {
      background-color: #ffaa00;
      text-shadow: 0 1px #ffe699;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__item {
      display: flex;
      gap: 10px;
      &.active .form__btn {
        background-color: #ffaa00;
        text-shadow: 0 1px #ffe699;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__field {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    & + & {
      margin-top: 10px;
    }
  }
  &__btn {
    background-color: #ffaa00;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 7px 6px rgb(0 0 0 / 34%);
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    display: inline-block;
    padding: 10px 44px;
    text-align: center;
    text-shadow: 0 1px #ffe699;
    text-transform: uppercase;
    cursor: pointer;
    & + & {
      margin-left: 10px;
    }
  }
  &__input {
    width: 100%;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #212c33;
    box-sizing: border-box;
    font-family: Arial, "Helvetica CY", Helvetica, sans-serif;
    font-size: 16px;
    color: #ccc;
    padding: 0 10px;
    height: 43px;
    transition:
      border-color 0.3s,
      color 0.3s;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 0;
  width: 95%;
  margin: 0 auto;
}
